<div>
  <ul
    class="catalog-list"
    &foreach="(get props libraries)"
  >
    <li class="catalog-card">
      <SiteLink
        class="catalog-card-title"
        &children="(get props name)"
        &href="(concat /library/ (get props id))"
      ></SiteLink>
      <div
        &visibleIf="(get props status)"
        class="catalog-status"
      >
        Possibly inactive
      </div>
      <div class="catalog-meta">
        <div &visibleIf="(get props stargazers)" class="flex gap-1">
          <span class="catalog-meta-label">Stars</span>
          <span &children="(get props stargazers)"></span>
        </div>
        <SiteLink
          &visibleIf="(get props links.site)"
          &href="(get props links.site)"
          class="catalog-meta-link"
        >
          Homepage
        </SiteLink>
        <SiteLink
          &visibleIf="(get props links.github)"
          &href="(get props links.github)"
          class="catalog-meta-link"
        >
          GitHub
        </SiteLink>
      </div>
      <Tags &tags="(get props tags)" />
    </li>
  </ul>
</div>
