<svg
  __reference="https://tailwindcomponents.com/component/circular-progress-bar"
  class="w-10 h-10"
>
  <circle
    class="text-gray-300"
    stroke-width="5"
    stroke="currentColor"
    fill="transparent"
    &r="(get props radius)"
    cx="20"
    cy="20"
  />
  <circle
    class="text-primary"
    stroke-width="5"
    &stroke-dasharray="(calculateCircumference (get props radius))"
    &stroke-dashoffset="(calculateDashOffset (get props radius) (get props value))"
    stroke-linecap="round"
    stroke="currentColor"
    fill="transparent"
    &r="(get props radius)"
    cx="20"
    cy="20"
  />
</svg>
