<svg
  __reference="https://tailwindcomponents.com/component/circular-progress-bar"
  class="w-20 h-20"
>
  <circle
    class="text-gray-300"
    stroke-width="5"
    stroke="currentColor"
    fill="transparent"
    r="30"
    cx="40"
    cy="40"
  />
  <circle
    class="text-primary"
    stroke-width="5"
    stroke-dasharray="188.4"
    __todo="evaluate dashoffset and accept 40 as a prop"
    stroke-dashoffset="188.4 - 40 / 100 * 188.4"
    stroke-linecap="round"
    stroke="currentColor"
    fill="transparent"
    r="30"
    cx="40"
    cy="40"
  />
</svg>
